html,
body {
    /* Dynamically resize for large screens */
    font-size: calc(12px + .25vw);
    /* Scale background to fit the screen */
    min-height: 100%;
    min-width: 100%;
}

/* ---- UTILITY ---- */

#cassUiMainBusyContainer,
#cassUiMainErrorContainer {
    margin-top:5rem;
}

.cassUiError {
    font-size: 3rem;
    color: #F78D05;
}

.cassUiBusyImg {
    height: 7rem;
    width: auto;
}

#cassUiMainBusyText {
    font-size: 2rem;
    color: #137499;
}

.cassUiError {
    font-size: 3rem;
    color: #F78D05;
}

.cassUiCallout {
    margin-top: 3rem;
}

/* ---- MENUS ---- */

#section-sub-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#page-tools {
    float: right;
}

/****************************************
  Burgendy Theme Details
*****************************************/

body.theme-burgendy #section-sub-menu #frameworkContentsSearchContainer #frameworkExpHeader .button {
    background-color: #662a36;
}
body.theme-burgendy #section-sub-menu #frameworkContentsSearchContainer .button:hover {
    background-color: #662a36;
}

body.theme-burgendy #pageMainContentsContainer h3, h2 {
    color: #662a36;
}
body.theme-burgendy #pageMainContentsContainer .gpsi {
    color: #b36a79;
}

body.theme-burgendy a, circleFocusSummaryListContainer {
    color: #b36a79;
}

body.theme-burgendy #pageMainContentsContainer a:hover {
    color: #662a36;
}

body.theme-burgendy .expCircleGraph .node--leaf {
    fill: rgba(241,105,135,1);
}

body.theme-burgendy .expCircleGraph .label {
    stroke: rgb(102, 42, 54);
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: round;
    /*    text-shadow: 0 1px 0 #000, 1px 0 0 #000, -1px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, 2px 0 0 #000, -2px 0 0 #000, 0 -2px 0 #000;*/
}


/* ---- MISC ---- */

#frameworkExpHeader,
#circleFocusSummaryName {
    cursor: pointer;
}