html,
body {
    /* Dynamically resize for large screens */
    font-size: calc(12px + .25vw);
    /* Scale background to fit the screen */
    min-height: 100%;
    min-width: 100%;
}

/* ---- UTILITY ---- */
.cassUiError {
    font-size: 3rem;
    color: #F78D05;
}

.cassUiBusyImg {
    height: 7rem;
    width: auto;
}

#cassUiMainBusyText {
    font-size: 2rem;
    color: #137499;
}

.cassUiError {
    font-size: 3rem;
    color: #F78D05;
}